<!DOCTYPE html>
<html xmlns:th="thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insertar tarea</title>
</head>
<body>
	<form th:object="${task}" th:action="@{submittask}" method="post">

		<h1>Inserta una task</h1>
		<input type="hidden" />
		<p>
			Titulo: <input type="text" th:field="*{title}" name="title" id="title" />
		</p>
		<p>
			Comentarios: <input type="text" th:field="*{comments}" name="comments" id="comments" />
		</p>
		<p>
			Fecha prevista: <input type="date" th:field="*{planned}" name="planned" id="planned" />
		<p>
			Categoria:
			<select th:field="*{category.idcategory}">
				<option th:each="c:${categories}"
					th:value="${c.idcategory}" th:text="${c.name}"></option>
			</select>
		</p>
		<p>
			<input type="hidden" th:value="${user.login}" name="login" /> 
			<input type="submit" value="Insertar tarea">
		</p>
	</form>
	<div class="">
		<a id="home" th:href="@{/}"> Logout</a>
	</div>
</body>
</html>