<!DOCTYPE html>
<html xmlns:th="thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Iniciar sesion</title>
<link rel="stylesheet" type="text/css" media="all" href="../resources/css/home.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <style>
    .mensaje {
      color: red;
    }
  </style>
</head>
<body>
	<div class="titulo">Bienvenid@, inicia sesion.</div>
	
	<span class="mensaje" th:text=${mensaje}></span>

	<form th:action="@{validauser}" method="post">
		<div>
			<label> User Name : <input type="text" name="login" />
			</label>
		</div>
		<div>
			<label> Password: <input type="password" name="pwd" />
			</label>
		</div>
		<div>
			<input type="submit" value="Accede" />
		</div>
	</form>
	<div class="">
		<a id="home" th:href="@{insertauser}"> Registrate</a>
	</div>

</body>
<script src="https://kit.fontawesome.com/374cf93979.js"
	crossorigin="anonymous"></script>
</html>
