<!DOCTYPE html>
<html xmlns:th="thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Iniciar sesion</title>
<link rel="stylesheet" type="text/css" media="all" href="../resources/css/login.css" th:href="@{/css/login.css}">
</head>
<body>
	<h1>WELCOME TO TASK MANAGER G7</h1>
	<h3>Por favor, inicia sesion</h3>
	
	

	<form th:action="@{validauser}" method="post">
		<span class="mensaje" th:text=${mensaje}></span>
		<div>
			<label> User Name : <input type="text" name="login" />
			</label>
		</div>
		<div>
			<label> Password: <input type="password" name="pwd" />
			</label>
		</div>
		<div>
			<input type="submit" value="Accede" />
		</div>
		<br>
		<div class="">
			<a class="btnInicio" th:href="@{insertauser}"> Registrate</a>
		</div> 
	</form>


</body>
</html>
