<!DOCTYPE html>
<html xmlns:th="thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Registro</title>
<link rel="stylesheet" href="/home.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<style>
.mensaje {
	color: red;
}
</style>
</head>
<body>
	<div class="titulo">Bienvenid@, crea tu cuenta.</div>
	<form th:object="${user}" th:action="@{submituser}" method="post">
		<fieldset>
			<legend>Inserta tus datos</legend>
			<p>
				<input type="text" th:field="*{login}"
					placeholder="Introduce tu Login" />
			</p>
			<p>
				<input type="password" th:field="*{password}"
					pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
					title="La contraseña debe tener al menos un numero, una letra miniscula, una letra mayuscula, y una longitud mínima de 8 carateres"
					placeholder="Introduce tu password" />
			</p>
			<p>
				<input type="password" th:field="*{password2}"
					pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
					title="La contraseña debe tener al menos un numero, una letra miniscula, una letra mayuscula, y una longitud mínima de 8 carateres"
					placeholder="Confirma tu password" />
			</p>
			<p>
				<input type="email" th:field="*{email}"
					placeholder="Introduce tu email" />
			</p>
			<p>
				<input type="submit" value="Insertar">
			</p>
			<span class="mensaje" th:text=${mensaje}></span>
		</fieldset>
	</form>
	<div class="">
		<a id="home" th:href="@{/}">Pagina de login</a>
	</div>
</body>
<script src="https://kit.fontawesome.com/374cf93979.js"
	crossorigin="anonymous"></script>
</html>
